<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Portfolio </title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="styles/style.css">

</head>

<body>
  <main>
    <!---navbar---->
    <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Milly Trejo's Portfolio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="https://github.com/mtrejo03/verbose-enigma"
                target="_blank">GitHub Source Code</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!---title-->
    <div class="container about-section">
      <div class="profile-image-container">
        <img src="img/profile.jpg" alt="Milly Trejo profile pic" class="profile-image">
      </div>

      <br>
  

      <div class="about-box">
        <h1>About me</h1>
        <p>Hello! I am Milly Trejo, a recent graduate from the University of North Alabama with a BBA
          in Computer Information Systems. Throughout my studies, 
          I’ve combined business knowledge with technical skills, equipping me with a unique blend of 
          problem-solving abilities and strategic thinking. At UNA, I developed hands-on experience in 
          programming, databases, systems analysis, and full-stack development. I am passionate about technology
          and am eager to grow in a role where I can contribute to innovative projects and continue learning.
        </p>
        <h3>Skills</h3>
        <ul>
          <li> Languages: Python, Java, PHP, HTML, CSS</li>
          <li> Database: MySQL</li>
          <li> Software: Adobe Photoshop, CapCut, GitHub, Visual Studio Code</li>
          <li> Office Tools: Microsoft Word, Excel, PowerPoint, Outlook</li>
        </ul>

     <div class="social-icons">
      <a href="https://github.com/mtrejo03" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/milly-trejo-3638b42a8/" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      </div>       
      </div>
    </div>
    <br>

  <section class="projects">
<section class="projects">
  <h1>Projects</h1>
  <div class="cards-container">
   
    <div class="card">
      <img class="card-img-top" src="img/emoji.jpg" alt="Emoji Game">
      <div class="card-body">
        <h4 class="card-title">The Emoji Game</h4>
        <p class="card-text">A fun matching game using HTML, CSS, and JavaScript</p>
        <div class="card-buttons">
          <a href="https://github.com/mtrejo03/dev-david-hw" class="btn" target="_blank">
            <i class="bi bi-github"></i> Source Code</a>
          <a href="https://mtrejo03.github.io/dev-david-hw/" class="btn" target="_blank">Play it</a>
        </div>
      </div>
    </div>

   
    <div class="card">
      <img class="card-img-top" src="img/book.jpg" alt="Book Project">
      <div class="card-body">
        <h4 class="card-title">Book Tracker</h4>
        <p class="card-text">An easy form to track books built with HMTL, CSS, and JavaScript</p>
        <div class="card-buttons">
          <a href="https://github.com/mtrejo03/dev-harry-final-project" class="btn" target="_blank">
            <i class="bi bi-github"></i> Source Code</a>
          <a href="https://mtrejo03.github.io/dev-harry-final-project/" class="btn" target="_blank">See it</a>
        </div>
      </div>
    </div>

   
    <div class="card">
      <img class="card-img-top" src="img/newsletter.jpg" alt="Newsletter">
      <div class="card-body">
        <h4 class="card-title">Newsletter</h4>
        <p class="card-text">A  prototype of a subscription newsletter built using HTML, CSS, and JavaScript</p>
        <div class="card-buttons">
          <a href="https://github.com/AnnaShannon2002/sobie-subscribe-list" class="btn" target="_blank">
            <i class="bi bi-github"></i> Source Code</a>
          <a href="https://annashannon2002.github.io/sobie-subscribe-list/index.html" class="btn" target="_blank">See it</a>
        </div>
      </div>
    </div>
  </div> 
</section>

</section>
    <div class="form-container">
      <h3 id="major">Add your name and a skill </h3>
      <p>This is a place where you can sign this portfolio with your name & a skill you have!</p>
      <form method="POST" action="insert/">
        <input name="title">
        <input name="post">
        <button class="btn btn-primary" role="submit">Add</button>
      </form>
    </div>


    <% profileData.forEach(result=> { %>
      <div class="form-container">
        <form method="POST" action="update/">
          <input name="updateTitle" value="<%= result.title %>">
          <input name="updatePost" value="<%= result.post %>">
          <input type="hidden" name="updateId" value="<%=result._id %>">
          <button class="btn btn-primary" role="submit">Update</button>
        </form>

        <form method="POST" action="delete/">
          <input type="hidden" name="deleteId" value="<%=result._id %>">
          <button class="btn btn-primary" role="submit"><i class="bi bi-trash3"></i></button>
        </form>
      </div>
      <% }); %>
        <br>

  </main>

  <!---footer-->
  <footer class="text-center mt-5">
    <p>&copy; 2024 Milly Trejo | <a href="https://github.com/mtrejo03" target="_blank">GitHub</a></p>


  </footer>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.3/jquery-ui.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js'></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="scripts/script.js"></script>
  <script src="scripts/data.js"></script>
</body>